.fc-theme-standard .fc-scrollgrid {
  border: 1px solid #fff !important;
}

.fc-theme-standard td {
  border: 2px solid #fff;
}

.fc-theme-standard th {
  border: 2px solid #fff;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.bg-red {
  background: #FF000020;
}
